body
{
    background-color: #00000a;
}

#header
{
    background-color: #090957;
    width: 100%;
    height: 52px;
    
    position: absolute;
    top: 0;
    left: 0;
}

#search
{
    background-color: #090957;
    width: 82%;
    height: 258px;
    
    position: absolute;
    top: 8%;
    vertical-align: middle;
    text-align: center;
    margin-left: 8%;
    margin-right: 9%;
}

#calendar
{
    width: 370px;
    height: 221px;
    margin-right: 2px;
    float: right;
}

#footer
{
    background-color: #090957;
    width: 100%;
    height: 44px;
    
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* ----------Content---------- */

/* Menu */

#menunavbuttontitle
{
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    margin-left: 130px;
    
}

#menunavbuttonacc
{
    width: 110px;
    margin-left: 20px;
    margin-right: 10px;
    float: right;
    margin-right: 130px;
}

#menunavbuttonpost
{
    width: 154px;
    margin-left: 10px;
    margin-right: 20px;
    float: right;
}

/* Search */

#searchbox
{
    width: 500px;
    height: 64px;
    
    margin-top: 1.1%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

#userinput1
{
    background-color: white;
    width: 260px;
    height: 32px;
    
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 2%;
    display: inline-block;
}

#userinput2
{
    background-color: white;
    width: 240px;
    height: 32px;
    
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 2%;
    display: inline-block;
}

#userinput3
{
    background-color: white;
    width: 240px;
    height: 32px;
    
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 2%;
    display: inline-block;
}

#confirm
{
    background-color: #37C90B;
    width: 90px;
    height: 32px;
    
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 2%;
    display: inline-block;
    line-height: 1px;
}

#calmonth
{
    width: 370px;
    height: 24px;
}

#calweek
{
    background-color: #1A1A57;
    border-color: white;
    border-width: 100px;
    width: 52px;
    height: 40px;
    
    float: left;
}

#calbox
{
    background-color: #1A1A57;
    border-color: white;
    border-width: medium;
    border-radius: 20px;
    width: 52px;
    height: 40px;
    
    float: left;
}

/* Footer */

#footerlink
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Text */

h1
{
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

h6
{
    color: white;
    font-family: monospace;
    font-size: 12px;
    
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}